/* PALETA DE COLORES */
/* TIPOGRAFIAS */
/* OPERACIONES EXTEND GENERAL*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Urbanist:wght@500;600&display=swap");
.equipo h1, .videos h1, .problemas h1, .aporte h1 {
  font-family: "Urbanist";
  font-size: 40px;
  color: #493D5B;
  text-align: center;
  padding: 30px; }

.galeria .tituloGaleria h3, .preguntas .preguntasTitulo h2 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #493D5B; }

.galeria .tituloGaleria p, .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .videosEtiquetasTexto p, .preguntas .preguntasTitulo p {
  font-family: sans-serif;
  font-size: 16px;
  color: #39383b; }

.aporte .aporteForm .form div .botonContenedor #botonSolido {
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  font-weight: 300;
  background-color: #493D5B;
  border: 1px solid #493D5B;
  text-decoration: none;
  text-align: center;
  border-radius: 8px; }

.videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .videosEtiquetasTexto .boton .botonGuia, .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .videosEtiquetasTexto .boton .botonEvaluar {
  font-family: sans-serif;
  font-size: 15px;
  color: #39383b;
  font-weight: 300;
  background-color: #cdcbce;
  border: 1px solid #cdcbce;
  text-decoration: none;
  text-align: center;
  border-radius: 8px; }

.videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .videosEtiquetasTexto .boton .botonGuia:hover, .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .videosEtiquetasTexto .boton .botonEvaluar:hover {
  background-color: #7A6C8D;
  color: white; }

.videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasTitulo {
  background: linear-gradient(120deg, #493D5B, #7A6C8D, #BEA6A0) padding-box; }

.informacion .informacionProposito img, .informacion .informacionMetodologia img, .etapas .etapasEtiquetas .contenedor, .equipo .equipoEtiquetas div img, .galeria .gridGaleria .gridItem, .videos .videosEtiquetas .videosEtiquetasContenedor {
  box-shadow: 10px 11px 11px -1px rgba(50, 49, 49, 0.45);
  -webkit-box-shadow: 10px 11px 11px -1px rgba(50, 49, 49, 0.45);
  -moz-box-shadow: 10px 11px 11px -1px rgba(50, 49, 49, 0.45); }

/* OPERACIONES EXTEND FORM */
.aporte .aporteForm .form div label {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #464648;
  padding: 8px 5px 0px 0px; }

.aporte .aporteForm .form div input, .aporte .aporteForm .form div select, .aporte .aporteForm .form div textarea {
  background-color: #fdf9fe;
  border: 1px solid #cdcbce;
  border-radius: 6px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: black;
  padding-left: 15px; }

.aporte .aporteForm .form div input::placeholder, .aporte .aporteForm .form div select, .aporte .aporteForm .form div textarea::placeholder {
  color: #686769;
  font-weight: 100; }

.aporte .aporteForm .form div input:focus, .aporte .aporteForm .form div select:focus, .aporte .aporteForm .form div textarea:focus {
  background-color: white;
  outline: 3px solid #7A6C8D; }

/* OPERACIONES MIXIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  background-color: #493D5B; }
  .navbar .navbar-toggler {
    color: #7A6C8D; }
  .navbar .navbar-collapse {
    justify-content: end; }
    .navbar .navbar-collapse .nav-link {
      color: white;
      font-family: sans-serif;
      font-size: 15px; }

.fa-heart-pulse {
  color: #cdcbce;
  font-size: 30px; }

.hero {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  height: 93vh;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column; }
  .hero .heroTitulo {
    width: 50vw;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative; }
    .hero .heroTitulo .lineaSuperior {
      height: 5px;
      margin-bottom: 5px;
      background-color: #493D5B;
      animation: borderSuperior 3s cubic-bezier(0.16, 0.03, 0.07, 0.78) 0.2s 1; }

@keyframes borderSuperior {
  0% {
    width: 10%; }
  100% {
    width: 100%; } }
    .hero .heroTitulo .lineaInferior {
      height: 5px;
      width: 100%;
      position: absolute;
      right: 0;
      background-color: #493D5B;
      margin-top: 5px;
      animation-name: borderInferior;
      animation-duration: 3s;
      animation-delay: 0.2s;
      animation-timing-function: cubic-bezier(0.16, 0.03, 0.07, 0.78);
      /* animation-direction: alternate-reverse; */
      animation-iteration-count: 1; }

@keyframes borderInferior {
  from {
    width: 10%; }
  to {
    width: 100%; } }
    .hero .heroTitulo h1 {
      font-family: sans-serif;
      font-weight: 900;
      font-size: 60px;
      color: #493D5B;
      padding: 0px 10px 0px 10px;
      margin-bottom: 0px; }
      .hero .heroTitulo h1 span {
        font-size: 55px;
        animation: dots 1s normal 1.7s 1; }

@keyframes dots {
  0% {
    color: #493D5B; }
  50% {
    color: #7A6C8D; }
  100% {
    color: #493D5B; } }
    .hero .heroTitulo h2 {
      font-family: sans-serif;
      font-weight: 900;
      font-size: 25px;
      color: #493D5B;
      margin-bottom: 0px;
      padding-bottom: 15px; }
  .hero h3 {
    width: 50%;
    font-family: "Urbanist";
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 20px;
    padding-top: 20px; }

.informacion {
  background-color: #fdf9fe; }
  .informacion .informacionProposito {
    display: flex;
    justify-content: center;
    align-items: normal;
    padding-top: 40px; }
    .informacion .informacionProposito img {
      width: 30vw;
      height: 38vh;
      object-fit: cover;
      border: 2px solid #7A6C8D;
      border-radius: 4px;
      margin: 20px 50px 20px 0px; }
    .informacion .informacionProposito div {
      width: 50vw;
      display: flex;
      justify-content: center;
      align-items: normal;
      flex-direction: column; }
      .informacion .informacionProposito div h3 {
        font-family: sans-serif;
        font-size: 25px;
        font-weight: 700;
        color: #7A6C8D;
        text-decoration: underline;
        text-underline-offset: 8px;
        margin-bottom: 40px; }
      .informacion .informacionProposito div h4 {
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: black;
        margin-bottom: 15px; }
      .informacion .informacionProposito div p {
        font-family: sans-serif;
        font-size: 20px;
        color: #39383b;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 0px; }
  .informacion .informacionMetodologia {
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-direction: row-reverse;
    padding-bottom: 40px; }
    .informacion .informacionMetodologia img {
      width: 30vw;
      height: 38vh;
      object-fit: cover;
      border: 2px solid #7A6C8D;
      border-radius: 4px;
      margin: 20px 0px 20px 50px; }
    .informacion .informacionMetodologia div {
      width: 50vw;
      text-align: right;
      display: flex;
      justify-content: center;
      align-items: normal;
      flex-direction: column; }
      .informacion .informacionMetodologia div h3 {
        font-family: sans-serif;
        font-size: 25px;
        font-weight: 700;
        color: #7A6C8D;
        text-decoration: underline;
        text-underline-offset: 8px;
        margin-bottom: 40px; }
      .informacion .informacionMetodologia div h4 {
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: black;
        margin-bottom: 15px; }
      .informacion .informacionMetodologia div p {
        font-family: sans-serif;
        font-size: 20px;
        color: #39383b;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 0px; }

.etapas {
  background-color: #BEA6A0; }
  .etapas h3 {
    font-family: sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 700;
    padding: 30px;
    text-align: center; }
  .etapas .etapasEtiquetas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    .etapas .etapasEtiquetas .contenedor {
      width: 22%;
      border: 1px solid white;
      border-radius: 4px;
      background-color: #cdcbce;
      margin: 10px 10px 60px 10px;
      transition-duration: 1.2s; }
      .etapas .etapasEtiquetas .contenedor img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-bottom: 1px solid #cdcbce; }
      .etapas .etapasEtiquetas .contenedor:hover {
        transform: scale(1.03); }
      .etapas .etapasEtiquetas .contenedor .contenedorTexto {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center; }
        .etapas .etapasEtiquetas .contenedor .contenedorTexto p {
          width: 100;
          font-family: sans-serif;
          font-size: 15px;
          font-weight: 400;
          text-align: center;
          line-height: 1.2;
          padding: 5px;
          margin-bottom: 0px;
          /* correccion Bootstrap */ }
          .etapas .etapasEtiquetas .contenedor .contenedorTexto p span {
            font-weight: 700; }

.equipo {
  background-color: #fdf9fe; }
  .equipo .equipoEtiquetas {
    display: flex;
    justify-content: space-evenly;
    align-items: normal;
    flex-wrap: wrap; }
    .equipo .equipoEtiquetas div {
      width: 340px;
      height: 350px;
      text-align: center;
      display: inline-block;
      margin: 20px 10px; }
      .equipo .equipoEtiquetas div img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 150px;
        padding: 4px;
        background: linear-gradient(#493D5B, #7A6C8D, #BEA6A0) padding-box;
        transition-property: padding;
        transition-duration: 1.5s; }
        .equipo .equipoEtiquetas div img:hover {
          padding: 8px; }
      .equipo .equipoEtiquetas div h2 {
        font-family: sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #493D5B;
        padding: 15px 5px 0px 5px; }
      .equipo .equipoEtiquetas div p {
        font-family: sans-serif;
        font-size: 15px;
        color: #39383b;
        padding: 5px;
        line-height: 1.2; }
        .equipo .equipoEtiquetas div p .black {
          font-weight: 700; }
        .equipo .equipoEtiquetas div p .italic {
          font-style: italic; }

.indicadores {
  height: 230px;
  background-color: #BEA6A0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }
  .indicadores div {
    width: 30%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-direction: column;
    text-align: center; }
    .indicadores div h2 {
      font-family: sans-serif;
      font-weight: 900;
      font-size: 45px;
      color: white;
      padding: 10px;
      transition-duration: 1s; }
      .indicadores div h2:hover {
        text-shadow: 7px 2px 11px #cdcbce; }
    .indicadores div p {
      font-family: sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: black;
      padding: 10px; }

.galeria {
  background-color: #fdf9fe; }
  .galeria .tituloGaleria {
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-direction: column; }
    .galeria .tituloGaleria h3 {
      margin: 30px 25px 30px 15px; }
    .galeria .tituloGaleria p {
      margin: 10px 15px 10px 15px; }
  .galeria .gridGaleria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 10px;
    margin: 15px 15px 0px 15px;
    padding-bottom: 45px; }
    .galeria .gridGaleria .gridItem {
      position: relative; }
      .galeria .gridGaleria .gridItem img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .galeria .gridGaleria .gridItem h4 {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 20px;
        background-color: #493d5ba6;
        /* transparencia */
        color: white;
        text-align: center;
        margin-bottom: 0px !important; }
    .galeria .gridGaleria .valores {
      background-color: #BEA6A0;
      background: linear-gradient(120deg, #493D5B, #7A6C8D, #BEA6A0) padding-box;
      display: flex;
      justify-content: center;
      align-items: center; }
      .galeria .gridGaleria .valores p {
        width: 80%;
        text-align: center;
        color: white;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 25px;
        color: white; }
    .galeria .gridGaleria .item4 {
      grid-row: span 2; }
    .galeria .gridGaleria .item8 {
      grid-column: span 2; }

.videos {
  background-color: #fdf9fe; }
  .videos .videosEtiquetas {
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-wrap: wrap;
    padding-bottom: 40px; }
    .videos .videosEtiquetas .videosEtiquetasContenedor {
      background: #fdf9fe;
      border: 1px solid gray;
      border-radius: 4px;
      margin: 0px 20px 30px 10px;
      display: flex;
      flex-direction: column; }
      .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasTitulo {
        border-bottom: 1px solid gray;
        display: flex;
        justify-content: space-between;
        align-items: normal; }
        .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasTitulo h2 {
          font-family: sans-serif;
          font-weight: 300;
          font-size: 18px;
          text-align: center;
          color: white;
          margin: 10px; }
        .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasTitulo .iconos {
          transition-duration: 1s; }
          .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasTitulo .iconos .iconoGuia {
            display: none; }
            .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasTitulo .iconos .iconoGuia:hover {
              transform: scale(1.1); }
          .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasTitulo .iconos .iconoEvaluar {
            display: none; }
            .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasTitulo .iconos .iconoEvaluar:hover {
              transform: scale(1.1); }
      .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody {
        display: flex; }
        .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .videosEtiquetasTexto {
          width: 15vw;
          text-align: center;
          margin: 0px 20px;
          display: flex;
          justify-content: center;
          align-items: normal;
          flex-direction: column; }
          .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .videosEtiquetasTexto p {
            line-height: 1.2;
            margin-bottom: 70px; }
          .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .videosEtiquetasTexto .boton {
            display: flex;
            flex-direction: column; }
            .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .videosEtiquetasTexto .boton .botonGuia {
              padding-top: 5px;
              margin-bottom: 10px;
              width: 100%;
              height: 35px;
              transition-duration: 1s; }
              .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .videosEtiquetasTexto .boton .botonGuia:hover {
                outline: 3px solid #7A6C8D;
                transform: scale(1.02); }
            .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .videosEtiquetasTexto .boton .botonEvaluar {
              padding-top: 5px;
              width: 100%;
              height: 35px;
              transition-duration: 1s; }
              .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .videosEtiquetasTexto .boton .botonEvaluar:hover {
                outline: 3px solid #7A6C8D;
                transform: scale(1.02); }
        .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .iframeContenedor {
          width: 25vw;
          height: 0;
          overflow: hidden;
          padding-bottom: 56.25%;
          padding-top: 30px;
          position: relative; }
          .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .iframeContenedor iframe {
            width: 100%;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: 10; }

.problemas {
  background-color: #fdf9fe; }
  .problemas .testimonio {
    background-color: #BEA6A0;
    display: flex;
    justify-content: center;
    align-items: normal; }
    .problemas .testimonio .testimonioTexto {
      width: 300px;
      margin-right: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .problemas .testimonio .testimonioTexto h2 {
        margin-bottom: 30px;
        transition-duration: 1s; }
        .problemas .testimonio .testimonioTexto h2:hover {
          text-shadow: 7px 2px 11px rgba(0, 0, 0, 0.72); }
        .problemas .testimonio .testimonioTexto h2 i {
          font-size: 40px; }
      .problemas .testimonio .testimonioTexto p {
        font-family: sans-serif;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        transition-duration: 1s; }
        .problemas .testimonio .testimonioTexto p:hover {
          text-shadow: 7px 2px 11px rgba(0, 0, 0, 0.72); }
    .problemas .testimonio iframe {
      width: 560px;
      height: 350px; }

.preguntas {
  background-color: #fdf9fe; }
  .preguntas .preguntasTitulo h2 {
    margin: 0px 25px 30px 15px;
    padding-top: 30px; }
  .preguntas .preguntasTitulo p {
    margin: 10px 15px 10px 15px; }
  .preguntas .accordion {
    padding: 10px 15px 60px 15px; }
    .preguntas .accordion .accordion-item .accordion-header .accordion-button.collapsed {
      background-color: #cdcbce;
      font-family: sans-serif;
      font-weight: 400;
      color: #493D5B; }
    .preguntas .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
      background-color: #cdcbce;
      font-family: sans-serif;
      font-weight: 400;
      color: #493D5B; }
    .preguntas .accordion .accordion-item .accordion-header .accordion-button:focus {
      border-color: #7A6C8D;
      box-shadow: 0 0 0 0.25rem #7A6C8D; }
    .preguntas .accordion .accordion-item .accordion-body {
      background-color: #fdf9fe;
      font-family: sans-serif; }

.aporte {
  background: linear-gradient(166deg, white 0%, rgba(208, 208, 208, 0.0555035) 98%), url(../img/mailbox.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 680px;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: column; }
  .aporte .aporteForm {
    height: 100%;
    display: flex;
    justify-content: normal;
    align-items: center; }
    .aporte .aporteForm .form {
      display: flex;
      justify-content: center;
      align-items: normal;
      flex-direction: column;
      margin: 0px 50px 0px 50px; }
      .aporte .aporteForm .form div label {
        display: block; }
      .aporte .aporteForm .form div input {
        width: 400px;
        height: 40px; }
      .aporte .aporteForm .form div select {
        width: 400px;
        height: 40px; }
      .aporte .aporteForm .form div textarea {
        margin-bottom: 20px;
        width: 400px;
        height: 110px; }
      .aporte .aporteForm .form div .botonContenedor {
        display: flex;
        justify-content: center;
        align-items: normal; }
        .aporte .aporteForm .form div .botonContenedor #botonSolido {
          padding-left: 0px;
          width: 200px;
          height: 40px;
          transition-duration: 1s; }
          .aporte .aporteForm .form div .botonContenedor #botonSolido:hover {
            background-color: #7A6C8D;
            transform: scale(1.03); }

.footer {
  background-color: #cdcbce;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .footerLinks {
    border-right: 1px solid gray;
    padding-right: 20px; }
    .footer .footerLinks ul {
      list-style: none;
      margin-bottom: 0px;
      padding-left: 0px;
      /* corrector de bootstrap */ }
      .footer .footerLinks ul li {
        display: inline-block; }
        .footer .footerLinks ul li a {
          text-decoration: none;
          color: black;
          font-family: sans-serif;
          font-weight: 700;
          font-size: 14px;
          margin-right: 8px;
          transition-duration: 1s; }
          .footer .footerLinks ul li a:hover {
            color: #7A6C8D; }
    .footer .footerLinks p {
      color: black;
      font-family: sans-serif;
      font-size: 14px;
      font-style: italic;
      margin-bottom: 0px; }
  .footer .footerRedes {
    display: flex;
    align-items: center;
    padding-left: 20px; }
    .footer .footerRedes a {
      font-size: 8vh;
      margin-left: 5px;
      margin-right: 5px; }

@media screen and (max-width: 1200px) {
  .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasTitulo .iconos .iconoGuia {
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 10px 5px 10px 10px; }
  .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasTitulo .iconos .iconoEvaluar {
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 10px 10px 10px 5px; }
  .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .videosEtiquetasTexto {
    display: none; }
  .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .iframeContenedor {
    width: 40vw; } }

@media screen and (max-width: 1300px) {
  .galeria .gridGaleria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px; }
    .galeria .gridGaleria .gridItem {
      grid-column: span 1;
      grid-row: span 1; }
    .galeria .gridGaleria .item3 {
      grid-row: span 2; }
    .galeria .gridGaleria .item10 {
      grid-column: span 2; } }

@media screen and (max-width: 1100px) {
  .hero {
    align-items: center;
    justify-content: end; }
    .hero .heroTitulo {
      width: 70vw;
      margin-bottom: 60px; }
      .hero .heroTitulo h1 {
        padding: 0px 20px 0px 10px; }
    .hero h3 {
      display: none; } }

@media screen and (max-width: 1000px) {
  .galeria .tituloGaleria {
    align-items: center;
    text-align: center; }
  .galeria .gridGaleria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px; }
    .galeria .gridGaleria .gridItem {
      grid-column: span 1;
      grid-row: span 1; }
  .informacion .informacionProposito div p {
    font-size: 18px; }
  .informacion .informacionMetodologia div p {
    font-size: 18px; }
  .etapas .etapasEtiquetas .contenedor {
    width: 380px; }
  .problemas .testimonio {
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px; }
    .problemas .testimonio .testimonioTexto {
      text-align: center;
      width: 560px;
      margin-right: 0px; }
      .problemas .testimonio .testimonioTexto h2 {
        margin-top: 30px;
        width: 100%; }
      .problemas .testimonio .testimonioTexto p {
        width: 100%;
        margin-bottom: 30px; } }

@media screen and (max-width: 990px) {
  .aporte {
    background-position: right; }
    .aporte .aporteForm {
      justify-content: center; } }

@media screen and (max-width: 920px) {
  .informacion .informacionProposito {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse; }
    .informacion .informacionProposito img {
      width: 80vw;
      margin: 20px 0px 20px 0px; }
    .informacion .informacionProposito div {
      width: 80vw;
      text-align: center; }
  .informacion .informacionMetodologia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 40px; }
    .informacion .informacionMetodologia img {
      width: 80vw;
      margin: 20px 0px 20px 0px; }
    .informacion .informacionMetodologia div {
      width: 80vw;
      text-align: center; } }

@media screen and (max-width: 800px) {
  .etapas .etapasEtiquetas .contenedor {
    width: 80Vw; } }

@media screen and (max-width: 850px) {
  .videos .videosEtiquetas .videosEtiquetasContenedor .videosEtiquetasBody .iframeContenedor {
    width: 80vw;
    min-width: 280px; } }

@media screen and (max-width: 820px) {
  .footer .footerLinks {
    display: none; } }

@media screen and (max-width: 670px) {
  .problemas .testimonio .testimonioTexto {
    width: 450px; }
  .problemas .testimonio iframe {
    width: 450px;
    height: 290px; } }

@media screen and (max-width: 640px) {
  .indicadores {
    flex-direction: column;
    height: 600px; }
    .indicadores div {
      width: 100%; }
  .galeria .gridGaleria {
    grid-template-columns: 1fr;
    grid-template-rows: 200px; } }

@media screen and (max-width: 660px) {
  .hero .heroTitulo h1 {
    font-size: 50px; }
    .hero .heroTitulo h1 span {
      font-size: 55px; }
  .hero .heroTitulo h2 {
    font-size: 22px; } }

@media screen and (max-width: 580px) {
  .hero .heroTitulo h1 {
    font-size: 40px; }
    .hero .heroTitulo h1 span {
      font-size: 45px; }
  .hero .heroTitulo h2 {
    font-size: 18px; } }

@media screen and (max-width: 520px) {
  .problemas .testimonio .testimonioTexto {
    width: 300px; }
  .problemas .testimonio iframe {
    width: 300px;
    height: 205px; } }

@media screen and (max-width: 500px) {
  .aporte .aporteForm .form div input {
    width: 80vw; }
  .aporte .aporteForm .form div select {
    width: 80vw; }
  .aporte .aporteForm .form div textarea {
    width: 80vw; } }

@media screen and (max-width: 480px) {
  .aporte .aporteForm .form div label {
    visibility: hidden; }
  .aporte .aporteForm .form div input {
    font-size: 16px; }
  .aporte .aporteForm .form div select {
    font-size: 16px; }
  .aporte .aporteForm .form div textarea {
    font-size: 16px; } }

@media screen and (max-width: 460px) {
  .hero .heroTitulo {
    margin-bottom: 75px; }
    .hero .heroTitulo h1 {
      font-size: 28px; }
      .hero .heroTitulo h1 span {
        font-size: 31px; }
    .hero .heroTitulo h2 {
      font-size: 16px; } }
