.navbar {
    background-color: $color-navegacion;
    .navbar-toggler {
        color: #b26b67;
    }
    .navbar-collapse {
        justify-content: end;
        .nav-link {
            color: white;
            font-family: nth($font,2);
            font-size: 15px;
        }
    }
}
.fa-heart-pulse {
    color: $color-fondo-intermedio;
    font-size: 30px;
}