.hero {
    background-image: url(../img/fondo.png);
    background-size: cover;
    height: 93vh;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment:fixed;
    text-align: left;
    @include flexD (flex, center, normal, column);
    .heroTitulo {
        width: 50vw;
        text-align: center;
        border-top: 5px solid $color-principal;
        border-bottom: 5px solid $color-principal; 
        margin-left: 20px;
        margin-bottom: 20px;
        h1 {
            font-family: nth($font,2);
            font-weight: nth($weightFont2,5);
            font-size: 60px;
            color: $color-principal;
            padding: 0px 10px 0px 10px;
            margin-bottom: 0px;
            span {
            font-size: 55px;
        }
        }
        h2 {
            font-family: nth($font,2);
            font-weight: nth($weightFont2,5);
            font-size: 25px;
            color: $color-principal;
            margin-bottom: 0px;
            padding-bottom: 15px;
        }
    }
    h3 {
        width: 50%;
        font-family: nth($font,1);
        font-weight: nth($weightFont1,2);
        font-size: 25px;    
        text-align: center;
        margin-bottom: 0px;
        margin-left: 20px;
        padding-top: 20px;
    }
}
.informacion {
    background-color: $color-fondo-claro;
    .informacionProposito {
        @include flex (flex, center, normal);
        padding-top: 40px;
        img {
            @include size (30vw, 38vh);
            object-fit: cover;
            border: 2px solid $color-secundario;
            border-radius: 4px;
            margin: 20px 20px 20px 0px;
            @extend %shadow;
        }
        div {
            width: 50vw;
            @include flexD (flex, center, normal, column);
            h3 {
                font-family: nth($font,2);
                font-size: 25px;
                font-weight: nth($weightFont2,4);
                color: $color-secundario;
                text-decoration: underline;
                text-underline-offset: 8px;
                margin-bottom: 40px;
            }
            h4 {
                font-family: nth($font,2);
                font-size: 18px;
                font-weight: nth($weightFont2,4);
                color: black;
                margin-bottom: 5px;
            }
            p {
                font-family: nth($font,2);
                font-size: 20px;
                color: #39383b ;
                font-weight: 400;
                line-height: 1.2;
            }
        }
    }
    .informacionMetodologia {
        @include flexD (flex, center, normal, row-reverse);
        padding-bottom: 40px;
        img {
            @include size (30vw, 38vh);
            object-fit: cover;
            border: 2px solid $color-secundario;
            border-radius: 4px;
            margin: 20px 0px 20px 20px;
            @extend %shadow;
        }
        div {
            width: 50vw;
            text-align: right;
            @include flexD (flex, center, normal, column);
            h3 {
                font-family: nth($font,2);
                font-size: 25px;
                font-weight: nth($weightFont2,4);
                color: $color-secundario;
                text-decoration: underline;
                text-underline-offset: 8px;
                margin-bottom: 40px;
            }
            
            h4 {
                font-family: nth($font,2);
                font-size: 18px;
                font-weight: nth($weightFont2,4);
                color: black;
                margin-bottom: 5px;
            }
            p {
                font-family: nth($font,2);
                font-size: 20px;
                color: #39383b ;
                font-weight: nth($weightFont2,3);
                line-height: 1.2;
            }
        }
    }
}
.etapas {
    background-color: $color-terceriario;
    h3 {
        font-family: nth($font,2);
        font-size: 25px;
        color: white;
        font-weight: nth($weightFont2,4);
        padding: 30px;
        text-align: center;
    }
    .etapasEtiquetas {
        @include flex (flex, space-evenly, center);
        flex-wrap: wrap;
        .contenedor {
            width: 22%;
            border: 1px solid white;
            border-radius: 4px;
            background-color:$color-fondo-intermedio;
            margin: 10px 10px 60px 10px;
            @extend %shadow;
            img {
                @include size (100%, 300px);
                object-fit: cover;
                border-bottom: 1px solid $color-fondo-intermedio;
            }
            .contenedorTexto {
                @include size (100%, 90px);
                display: flex;
                align-items: center;
                p {
                    width: 100;
                    font-family: nth($font,2);
                    font-size: 15px;
                    font-weight: nth($weightFont2,3);
                    text-align: center;
                    line-height: 1.2;
                    padding: 5px;
                    margin-bottom: 0px; /* correccion Bootstrap */
                    span {
                        font-weight: nth($weightFont2,3);
                    }
                }
            }
        }
    }
}