.videos {
    background-color: $color-fondo-claro;
    h1 {
        @extend %pageTitulo;
    }
    .videosEtiquetas {
        @include flex (flex, center, normal);
        flex-wrap: wrap;
        padding-bottom: 40px;
        .videosEtiquetasContenedor {
            background: $color-fondo-claro;
            border: 1px solid gray;
            border-radius: 4px;
            margin: 0px 20px 30px 10px; 
            display: flex;
            flex-direction: column;
            @extend %shadow;
            .videosEtiquetasTitulo {
                border-bottom: 1px solid gray;
                @include flex (flex, space-between, normal);
                @extend %gradiente;
                h2 {
                    font-family: nth($font,2);
                    font-weight: nth($weightFont2,2);
                    font-size: 18px;
                    text-align: center;
                    color: white;
                    margin: 10px;
                }
                .iconos {
                    transition-duration: 1s;
                    .iconoGuia {
                        display: none;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                    .iconoEvaluar {
                        display: none;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
            .videosEtiquetasBody {
                display: flex;
                .videosEtiquetasTexto {
                    width: 15vw;
                    text-align: center;
                    margin: 0px 20px;
                    @include flexD(flex, center, normal, column);
                    p {
                        @extend %pageParrafo;
                        line-height: 1.2;
                        margin-bottom: 70px;
                    }
                    .boton {
                        display: flex;
                        flex-direction: column;
                        .botonGuia {
                            padding-top: 5px;
                            margin-bottom: 10px;
                            @extend %botonVideos;
                            @include size (100%, 35px);
                            transition-duration: 1s;
                            &:hover {
                                outline: 3px solid $color-secundario;
                                @extend %botonHover;
                                transform: scale(1.02);
                            }
                        }
                        .botonEvaluar {
                            padding-top: 5px;
                            @include size (100%, 35px);
                            @extend %botonVideos;
                            transition-duration: 1s;
                            &:hover {
                                outline: 3px solid $color-secundario;
                                @extend %botonHover;
                                transform: scale(1.02);
                            }
                        }
                    }
                }
                .iframeContenedor {
                    @include size (25vw, 0);
                    overflow: hidden;
                    padding-bottom: 56.25%;
                    padding-top: 30px;
                    position: relative;
                    iframe {
                        @include size (100%, 100%);
                        left: 0;
                        position: absolute;
                        top: 0;
                        z-index: 10;
                    }
                }
            }
        }
    }
}




