.equipo {
    background-color: $color-fondo-claro;
    h1 {
        @extend %pageTitulo;
    }
    .equipoEtiquetas {
        @include flex (flex, space-evenly, normal);
        flex-wrap: wrap;
        div {
            @include size (340px, 350px);
            text-align: center;
            display: inline-block;
            margin: 20px 10px;
            img {
                @include size (200px, 200px);
                object-fit: cover;
                border-radius: 150px;
                padding: 4px;
                background: linear-gradient($color-gradiente-oscuro, $color-secundario, $color-terceriario) padding-box;
                @extend %shadow;
            }
            h3 {
                font-family: nth($font,2);
                font-weight: nth($weightFont2,4);
                font-size: 20px;
                color: $color-principal;
                padding: 15px 5px 0px 5px;
            }
            p {
                font-family: nth($font,2); 
                font-size: 15px;
                color: #39383b;
                padding: 5px;
                line-height: 1.2;
                .black {
                    font-weight: nth($weightFont2,4);
                }
                .italic {
                    font-style: italic;
                }
            }
        }
    }
}

.indicadores {
    height: 230px;
    background-color: $color-terceriario;
    @include flex (flex, space-evenly, center);
    flex-wrap: wrap;
    div {
        width: 30%;
        height: 150px;
        @include flexD (flex, center, normal, column);
        text-align: center;
        h2 {
            font-family: nth($font,2);
            font-weight: nth($weightFont2,5);
            font-size: 45px;
            color: white;
            padding: 10px;
        }
        p {
            font-family: nth($font,2);
            font-weight: nth($weightFont2,4);
            font-size: 18px;
            color: black;
            padding: 10px;
        }
    }
}
.galeria {
    background-color: $color-fondo-claro;
    .tituloGaleria {
        @include flexD (flex, center, normal, column);
        h3 {
            @extend %pageSubtitulo;
            margin: 30px 25px 30px 15px;
        }
        p {
            @extend %pageParrafo;
            margin: 10px 15px 10px 15px;
        }
    }
    .gridGaleria {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 200px;
        gap: 10px;
        margin: 15px 15px 0px 15px;
        padding-bottom: 45px;
        .gridItem {
            position: relative;
            @extend %shadow;
            img {
                @include size (100%, 100%);
                object-fit: cover;
            }
            h4 {
                position: absolute;
                bottom: 0;
                width: 100%;
                color: white;
                font-family: nth($font,2);
                font-weight: nth($weightFont2,3);
                font-size: 20px;
                background-color: $color-etiquetas; /* transparencia */
                color: white;
                text-align: center;
                margin-bottom: 0px !important;
            }
        }
        .valores {
            background-color: $color-terceriario; 
            background: linear-gradient(120deg, $color-principal, $color-secundario, $color-terceriario) padding-box;
            @include flex (flex, center, center);
            p {
                width: 80%;
                text-align: center;
                color: white;
                font-family: nth($font,2);
                font-weight: nth($weightFont2,4);
                font-size: 25px;
                color:white;
            }
        }
        .item4 {
            grid-row: span 2;
        }
        
        .item8 {
            grid-column: span 2;
        }
    }
}