.problemas {
    background-color: $color-fondo-claro;
    h1 {
        @extend %pageTitulo;
    }
    .testimonio {
        display: flex;
        justify-content: center;
        background-color: $color-terceriario;
        .testimonioTexto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 300px;
            margin-right: 50px;
            h2 {
                margin-bottom: 30px;
                i {
                    font-size: 40px;
                }
            }
            p {
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                text-align: center;
                font-weight: 700;
            }
        }
        iframe {
            width: 560px;
            height: 350px;
        }
    }
}
.preguntas {
    background-color: $color-fondo-claro;
    .preguntasTitulo {
        h2 {
            @extend %pageSubtitulo;
            margin: 0px 25px 30px 15px;
            padding-top: 30px;
        }
        p {
            @extend %pageParrafo;
            margin: 10px 15px 10px 15px;
        }
    }
    .accordion {
        padding: 10px 15px 60px 15px;
        .accordion-item {
            .accordion-header {
                .accordion-button.collapsed {
                    background-color: $color-fondo-intermedio;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    color: $color-principal;
                }
                .accordion-button {
                    &:not(.collapsed) {
                        background-color: $color-fondo-intermedio;
                        font-family: 'Lato', sans-serif;
                        font-weight: 400;
                        color: $color-principal;
                    }
                    &:focus {
                        border-color:$color-secundario;
                        box-shadow: 0 0 0 0.25rem $color-secundario;
                    }
                }
            } 
            .accordion-body {
                background-color: $color-fondo-claro;
                font-family: 'Lato', sans-serif;
            }
        }
}
}
