.problemas {
    background-color: $color-fondo-claro;
    h1 {
        @extend %pageTitulo;
    }
    .testimonio {
        background-color: $color-terceriario;
        @include flex (flex, center, normal);
        .testimonioTexto {
            width: 300px;
            margin-right: 50px;
            @include flexD (flex, center, center, column);
            h2 {
                margin-bottom: 30px;
                transition-duration: 1s;
                &:hover {
                    text-shadow: 7px 2px 11px rgba(0,0,0,0.72);
                }
                i {
                    font-size: 40px;
                }
            }
            p {
                font-family: nth($font,2);
                font-weight: nth($weightFont2,4);
                font-size: 16px;
                text-align: center;
                transition-duration: 1s;
                &:hover {
                    text-shadow: 7px 2px 11px rgba(0,0,0,0.72);
                }
            }
        }
        iframe {
            @include size (560px, 350px);
        }
    }
}
.preguntas {
    background-color: $color-fondo-claro;
    .preguntasTitulo {
        h2 {
            @extend %pageSubtitulo;
            margin: 0px 25px 30px 15px;
            padding-top: 30px;
        }
        p {
            @extend %pageParrafo;
            margin: 10px 15px 10px 15px;
        }
    }
    .accordion {
        padding: 10px 15px 60px 15px;
        .accordion-item {
            .accordion-header {
                .accordion-button.collapsed {
                    background-color: $color-fondo-intermedio;
                    font-family: nth($font,2);
                    font-weight: nth($weightFont2,3);
                    color: $color-principal;
                }
                .accordion-button {
                    &:not(.collapsed) {
                        background-color: $color-fondo-intermedio;
                        font-family: nth($font,2);
                        font-weight: nth($weightFont2,3);
                        color: $color-principal;
                    }
                    &:focus {
                        border-color:$color-secundario;
                        box-shadow: 0 0 0 0.25rem $color-secundario;
                    }
                }
            } 
            .accordion-body {
                background-color: $color-fondo-claro;
                font-family: nth($font,2);
            }
        }
}
}
