.aporte {
    background: linear-gradient(166deg, rgba(255,255,255,1) 0%, rgba(208,208,208,0.05550352465204833) 98%), url(../img/mailbox.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 680px;
    display: flex;
    flex-direction: column;
    h1 {
        @extend %pageTitulo;
    }
    .aporteForm {
        height: 100%;
        display: flex;
        align-items: center;       
        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0px 50px 0px 50px;
            div {
                label {
                    display: block;
                    @extend %formLabel;
                }
                input {
                    width: 400px;
                    height: 40px;
                    @extend %formInput;
                    &:focus {
                        @extend %formFocus;
                    }
                    &::placeholder {
                        @extend %formPlaceholder;
                    }
                }
                select {
                    width: 400px;
                    height: 40px;
                    @extend %formInput;
                    @extend %formPlaceholder;
                    &:focus {
                        @extend %formFocus;
                    }
                }
                textarea {
                    width: 400px;
                    height: 110px;
                    margin-bottom: 20px;
                    @extend %formInput;
                    &:focus {
                        @extend %formFocus;
                    }
                    &::placeholder {
                        @extend %formPlaceholder;
                    }
                }
                .botonContenedor {
                    display: flex;
                    justify-content: end;
                    #botonSolido {
                        width: 150px;
                        height: 40px;
                        padding-left: 0px;
                        @extend %boton;
                        &:hover {
                            background-color: $color-secundario;
                        }
                }
                }
            }
        }
    }
}