.aporte {
    background: linear-gradient(166deg, rgba(255,255,255,1) 0%, rgba(208,208,208,0.05550352465204833) 98%), url(../img/mailbox.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 680px;
    @include flexD (flex, normal, normal, column);
    h1 {
        @extend %pageTitulo;
    }
    .aporteForm {
        height: 100%;
        @include flex(flex, normal, center);     
        .form {
            @include flexD (flex, center, normal, column);
            margin: 0px 50px 0px 50px;
            div {
                label {
                    display: block;
                    @extend %formLabel;
                }
                input {
                    @include size (400px, 40px);
                    @extend %formInput;
                    &:focus {
                        @extend %formFocus;
                    }
                    &::placeholder {
                        @extend %formPlaceholder;
                    }
                }
                select {
                    @include size (400px, 40px);
                    @extend %formInput;
                    @extend %formPlaceholder;
                    &:focus {
                        @extend %formFocus;
                    }
                }
                textarea {
                    margin-bottom: 20px;
                    @include size (400px, 110px);
                    @extend %formInput;
                    &:focus {
                        @extend %formFocus;
                    }
                    &::placeholder {
                        @extend %formPlaceholder;
                    }
                }
                .botonContenedor {
                    @include flex(flex, end, normal);
                    #botonSolido {
                        padding-left: 0px;
                        @include size (150px, 40px);
                        @extend %boton;
                        &:hover {
                            background-color: $color-secundario;
                        }
                }
                }
            }
        }
    }
}