/* PALETA DE COLORES */
$color-navegacion:#493D5B;
$color-principal:#493D5B;
$color-secundario:#7A6C8D;
$color-terceriario:#BEA6A0;
$color-fondo-claro:#fdf9fe;
$color-fondo-intermedio:#cdcbce;
$color-gradiente-oscuro:#493D5B;
$color-gradiente-medio:#7A6C8D;
$color-gradiente-claro:#BEA6A0;
$color-etiquetas:#493d5ba6;
$color-footer:#cdcbce;

/* TIPOGRAFIAS */
$font:
'Urbanist', sans-serif,
'Lato', sans-serif;

$weightFont1:
500,
600;

$weightFont2: 
100,
300,
400,
700,
900;

/* OPERACIONES EXTEND GENERAL*/
%pageTitulo {
    font-family: nth($font,1);
    font-size: 40px;
    color: $color-principal;
    text-align: center;
    padding: 30px;
}

%pageSubtitulo {
    font-family: nth($font,2);
    font-weight: nth($weightFont2,4);
    font-size: 25px;
    color: $color-principal;
}

%pageParrafo {
    font-family: nth($font,2);
    font-size: 16px;
    color: #39383b;
}

%boton {
    font-family: nth($font,2);
    font-size: 15px;
    color: white;   
    font-weight: nth($weightFont2,2);
    background-color: $color-principal;
    border: 1px solid $color-principal;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
}

%botonVideos {
    font-family: nth($font,2);
    font-size: 15px;
    color: #39383b;   
    font-weight: nth($weightFont2,2);
    background-color: $color-fondo-intermedio;
    border: 1px solid $color-fondo-intermedio;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
}

%botonHover {
        background-color: $color-secundario;
        color: white;
}

%gradiente {
    background: linear-gradient(120deg, $color-principal, $color-secundario, $color-terceriario) padding-box;
}

%shadow {
    box-shadow: 10px 11px 11px -1px rgba(50,49,49,0.45);
    -webkit-box-shadow: 10px 11px 11px -1px rgba(50,49,49,0.45);
    -moz-box-shadow: 10px 11px 11px -1px rgba(50,49,49,0.45);
}

/* OPERACIONES EXTEND FORM */
%formLabel {
    font-family: nth($font,2);
    font-size: 15px;
    font-weight: nth($weightFont2,4);
    color: #464648;
    padding: 8px 5px 0px 0px;
}

%formInput {
    background-color: $color-fondo-claro;
    border: 1px solid $color-fondo-intermedio;
    border-radius: 6px;
    font-family: nth($font,2);
    font-size: 18px;
    font-weight: nth($weightFont2,2);
    color: black;
    padding-left: 15px;
}

%formPlaceholder {
    color: #686769;
    font-weight: nth($weightFont2,1);
}

%formFocus {
    background-color: white;
    outline: 3px solid $color-secundario;
}

/* OPERACIONES MIXIN */
@mixin flex ($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flexD ($flex, $justify, $align, $column) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $column;
}

@mixin size ($width, $height) {
    width: $width;
    height: $height;
}