/* PALETA DE COLORES */

$color-navegacion:#493D5B;
$color-principal:#493D5B;
$color-secundario:#7A6C8D;
$color-terceriario:#BEA6A0;
$color-fondo-claro:#fdf9fe;
$color-fondo-intermedio:#cdcbce;
$color-gradiente-oscuro:#493D5B;
$color-gradiente-medio:#7A6C8D;
$color-gradiente-claro:#BEA6A0;
$color-etiquetas:#493d5ba6;
$color-footer:#cdcbce;

